model_config_list {
  config {
    name: 'model-Anggur'
    base_path: '/models/plant-model/model-Anggur/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'model-Apel'
    base_path: '/models/plant-model/model-Apel/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'model-Buncis'
    base_path: '/models/plant-model/model-Buncis/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'model-Delima'
    base_path: '/models/plant-model/model-Delima/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'model-Jagung'
    base_path: '/models/plant-model/model-Jagung/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'model-Jeruk'
    base_path: '/models/plant-model/model-Jeruk/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'model-Kacang-Hijau'
    base_path: '/models/plant-model/model-Kacang-Hijau/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'model-Kacang-Merah'
    base_path: '/models/plant-model/model-Kacang-Merah/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'model-Kapas'
    base_path: '/models/plant-model/model-Kapas/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'model-Kelapa'
    base_path: '/models/plant-model/model-Kelapa/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'model-Kopi'
    base_path: '/models/plant-model/model-Kopi/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'model-Mangga'
    base_path: '/models/plant-model/model-Mangga/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'model-Melon'
    base_path: '/models/plant-model/model-Melon/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'model-Padi'
    base_path: '/models/plant-model/model-Padi/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'model-Pepaya'
    base_path: '/models/plant-model/model-Pepaya/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'model-Pisang'
    base_path: '/models/plant-model/model-Pisang/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'model-Semangka'
    base_path: '/models/plant-model/model-Semangka/'
    model_platform: 'tensorflow'
  }
}